<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allway app</title>
    <link rel="stylesheet" href="/css/AlwaysChatApp.css">
   
    <link rel="stylesheet" href="/font/css/all.min.css">
    <link rel="stylesheet" href="/font/css/fontawesome.min.css">
</head>
<body>
    <div class="countiner">
        <!-- Chat box start -->
        <div class="chatBox">

            <!-- _____________________messageBox Sction One_____________-->
            <div class="messageBox">

                <!-- message hader -->
                <div class="message-hader">
 
                    <div class="arrowX">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    
                    <div class="message-img">
                        <span class="online"></span>
                        <img src="/img/pexels-olena-goldman-1021693.jpg" alt="Jasica julye">
                        
                        <div class="text">
                            <h3>Jasica julye</h3>
                            <h5>acctive now</h5>
                        </div>
                    </div>

                    <div class="message-icon">
                        <i class="fa fa-phone"></i>
                        <i class="fa fa-video"></i>
                        <i class="fa fa-info-circle"></i>
                    </div>
                </div>


                <!-- message main conversation box -->
                <div class="message-box">
                    <div class="conversation">
                        <div class="profile">
                            <img src="/img/pexels-olena-goldman-1021693.jpg" alt="Jasica julye">
                            <div class="view">
                                <i class="fa fa-user"></i>
                                <p>view profile</p>
                            </div>
                        </div>

                        <div class="sendMessage">
                            <div class="avater">
                                <img src="/img/pexels-olena-goldman-1021693.jpg" alt="Jasica jully">
                            </div>
                            <div class="mainmassage">
                                <div class="text">
                                    <h4>Hi ther i'm use Always Chat!..</h4>
                                </div>

                                <div class="attuch">
                                        <img src="/img/pexels-marcelo-dias-2010877.jpg" alt="random photo">
                                </div>  

                                <div class="date">
                                    <p>11:32 AM</p>
                                </div>

                            </div>
                        </div>

                        <div class="outcomemesage">
                            <div class="imgage">
                                <img src="/img/pexels-pixabay-458766.jpg" alt="kaly ">
                            </div>
                            <div class="textdata">
                                <div class="text">
                                    <h4>Hi ther i'm use Always Chat!..</h4>
                                </div>

                                <div class="attuchment">
                                        <img src="/img/pexels-olena-goldman-1021693.jpg" alt="kaly">
                                </div>  

                                <div class="localDate">
                                    <p>11:32 AM</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <form action="#" id="formx" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="sender">
                            <div class="imoji">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                        <div class="atuce">
                            <i class="fa-solid fa-paperclip"></i>
                            <input type="file" name="photos" multiple>
                        </div>
                       
                        <div class="type">
                            <input type="text" name="type"  placeholder="Type...">
                        </div>
                            <div class="send">
                                <button type="submit" name="submit">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                                
                            </div>
                        </div>
                    </form> 
                    
                </div>

            </div>


            <!-- __________________________Search Box Section Tow____________________  -->

            <div class="searchBox">
                <div class="bar" id="bar">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                    
                </div> 
                <!-- Conversation search -->
                <div class="searchConversation">
                    
                    <div class="logo">Always</div>
                    <div class="searcItem">
                        
                        <input type="search" name="search" placeholder="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

                <!-- converSation all item show  -->
                <div class="conversationItem">
                    <!-- Item count  -->
                    <div class="Items">
                        <div class="img">
                            <img src="/img/pexels-marcelo-dias-2010877.jpg" alt="kabir">
                            <span class="Online"></span>
                        </div>
                        <div class="texts">
                            
                                <h4>MD Kabir</h4>
                            
                           
                            <p>10/01/2024</p>
                          
                        </div>
                    </div>
                    <!--  -->
                    <div class="Items">
                        <div class="img">
                            <img src="/img/pexels-marcelo-dias-2010877.jpg" alt="kabir">
                            <span class="Online"></span>
                        </div>
                        <div class="texts">
                            
                                <h4>MD Kabir</h4>
                            
                           
                            <p>10/01/2024</p>
                          
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="/js/AlwaysChatApp.js"></script>
</body>
</html>