@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Nunito+Sans:opsz,wght@6..12,500&family=Poppins&family=Roboto&display=swap');

:root{
    --bgColor:#4a4cbb;
    --FgColor:#af33d4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

body{
    width: 100%;
    height: 100vh;
    background: #eee;
    display: grid;
    place-items: center;
    background-color: var(--bgColor);
}
.contuner{
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.3);
}
@media screen and (max-width:800px) {
    .contuner{
        width: 60%;
    }
}
@media screen and (max-width:570px){
    .contuner{
        width:80% ;
    }
}

.error{
    color: red;
    font-size: 10px;
    padding-bottom: 3px ;
    margin-left:50px ;
    display: none;
}

.contuner .title{
    width: 100%;
    height: 60px;
    background: var(--FgColor);
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contuner form{
    background-color: #fff;
    padding: 30px 20px 30px 20px ;
    border-radius: 0 0 10px 10px;
}
.contuner .row{
    
    margin-bottom:20px ;
    height: 40px;
    position: relative;
    
}
.contuner .row-file{
    position: relative;
    width: 100%;
    height: 40px;
    
    align-items: center;
    display: flex;
    justify-content: center;
}
.contuner .row-file i{
    width: 50%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    transition: .5s ease;
    border-radius:5px ;
    overflow: hidden;
}
.contuner .row-file i:hover{
    background: #5b2acc;
}
.row-file input[type='file']{
    width: 50%;
    height: 100%;
    color: #4a4cbb;
    position: absolute;
    font-size: 16px;
    left: 1;
    top: 0;
   opacity: 0;
}
.contuner .row input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 60px;
    outline: none;
   
}
.contuner .row input:focus{
   
    border: 1px solid rgb(9, 119, 5);
   
}
.contuner .row .errorx{
    border: 1px solid red;
}
.contuner i{
    position: absolute;
    background: var(--bgColor);
    width: 40px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    padding: 10px;
}
.button input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: 750;
    color: #fff;
    background: var(--FgColor);
    transition: .3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.button input:hover{
    color: #fad0d0;
    background: rgb(206, 5, 139);
}
.button .have{
    margin-top:10px ;
}
.button .have a{
    text-decoration: none;
    color: rgb(3, 112, 17);
    font-size: 16px;
}
.button .have a:hover{
    text-decoration: underline;
}